/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: none;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #d9d9d9;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

h2{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}

/*
 * Main content
 */
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 0;
}

.topic{
    color: #fff;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.media-header{
    color: #fff;
    margin-top: 50px;
    margin-left: 16.66666667%;
    background-color: #428bca;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}

.msg-bar{
    color: #fff;
    margin-left: 16.66666667%;
    background-color: #428bca;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    
}

.media{
    border-bottom: 1px solid #eee;
    position: relative;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.media-menu{
    float: right;
    width: 200px;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 0px;
    padding-bottom: 4px;
    display: none;
}

.media-active{
    background-color: #eee;
}

.collapse-channel{
    padding-top: 10px;
}

.navbar{
    margin-bottom: 0px; 
}
